@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);

/*
	body
*/
body {
	background: #EDEDED;
	font-family: 'Open Sans', sans-serif;
	overflow-x: hidden;
}

/*
	header
*/
header {
	color: white;
	font-size: 50px;
	background: #1D1D1D;
	height: 80px;
}
header span {
	line-height: 80px;
	float: left;
}
header #title {
	width: calc( 100% - 105px );
	color: white;
	margin: 0;
	height: 80px;
	font-size: 50px;
	border: 0;
	padding: 0;
	padding-left: 25px;
	background: #1D1D1D;
}
header #title:focus {
	border: 0;
	outline: none;
}
header #add {
	-moz-user-select: none;
  	-webkit-user-select: none;
  	-ms-user-select: none;
  	font-size: 50px;
	width: 80px;
	background: #154CFF;
	text-align: center;
	cursor: pointer;
}

/*
	todos
*/
.todo {
	list-style-type: none;
	background: #FFFFFF;
	overflow: auto;
	line-height: 80px;
}
.todo .task {
	margin-left: 20px;
	color: #585858;
	overflow: hidden;
}
.todo .close {
	cursor: pointer;
	-moz-user-select: none;
  	-webkit-user-select: none;
  	-ms-user-select: none;
	float: right;
	position: relative;
	width: 80px;
	height: 80px;
	background: #FF242E;
	color: white;
	font-size: 40px;
	overflow: hidden;
	text-align: center;
}
.todo .toggle {
	cursor: pointer;
	-moz-user-select: none;
  	-webkit-user-select: none;
  	-ms-user-select: none;
	float:left;
	width: 80px;
	height: 80px;
	position: relative;
}
.todo .toggle.on {
	background: #3FFF48;
}
.todo .toggle.on:after {
    -moz-transform: scaleX(-1) rotate(135deg);
    -ms-transform: scaleX(-1) rotate(135deg);
    -webkit-transform: scaleX(-1) rotate(135deg);
    transform: scaleX(-1) rotate(135deg);
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    border-right: 4px solid white;
    border-top: 4px solid white;
    content: '';
    display: block;
    height: 40px;
    width: 20px;
    position: absolute;
    top: 40px;
    left: 15px;
}
